main{
        margin: 20px;
}
table{
        font-size: 11.7px;
}
.h-1{
    background-color: #69ca5f;
}
.g1{
    background-color: #e48261;
}
.g2{
    background-color: #ffdb62;
}
.g3{
    background-color: #ffbcda;
}
.g4{
    background-color: #7bc1ff;
}
.g5{
    background-color: #81d560;
}
.g6{
    background-color: #fcdc7d;
}
.g7{
    background-color: #d59fd5;
}
.g8{
    background-color: #979696;
}
.g9{
    background-color: #628aff;
}
.g10{
    background-color: #62e1bb;
}